

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/ProductDetail/productdetail_search_events.js"></script>

<script src="~/Scripts/ProductDetail/productdetail_search_method.js"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product Detail

            <small>Listing Page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>CMS</a></li>
            <li class="active">ProductDetail Listing</li>
        </ol>
    </section>

    <!-- Main content -->

    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">

                    <div class="box-body no-padding">

                        <div class="row">

                            <div class="col-md-12" style="padding-left: 26px; padding-bottom: 10px; padding-top: 10px;">

                                <form id="frmSearch_ProductDetail">

                                    <div class="btn-group">

                                        <a id="btnCreate" class="btn btn-default btn-sm" @*href="@Url.Action("Index", "ProductDetail")"*@ role="button">Create</a>

                                    </div>

                                    <div class="btn-group">

                                        <button id="btnEdit" type="button" class="btn btn-default btn-sm" role="button">Edit</button>

                                        @*<button id="btnDelete" type="button" class="btn btn-warning btn-sm">Delete</button>*@

                                    </div>

                                    <input type="hidden" id="hdn_Product_Category_Id" name="Filter.Product_Category_Id" />

                                    <input type="hidden" id="hdn_Product_Column_Ref_Id" name="Filter.Product_Column_Ref_Id" />

                                    <input type="hidden" id="hdn_Product_Category_Column_Mapping_Id" name="Filter.Product_Category_Column_Mapping_Id" />

                                    <input type="hidden" id="hdn_Product_Detail_Id" name="Filter.Product_Detail_Id" />

                                    <input type="hidden" id="hdnCurrentPage" name="Page.CurrentPage" />

                                </form>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <table id="tblProductCategory" class="table table-hover table-responsive ">
                                    <tbody>
                                        <tr>
                                            <th colspan="4">Product Category</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th>Category1</th>
                                            <th>Category2</th>
                                            <th>Category3</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-2" style="padding-left: 26px; padding-bottom: 10px; padding-top: 10px;">
                                <div class="form-group">
                                    <label for="drpProduct_Volts" style="color: #333" class="lookup-title">Volts</label>
                                    <select class="form-control input-sm" id="drpProduct_Volts" name="volts.Volts">
                                        <option value="">--Select--</option>

                                        @foreach (var item in Model.Volts)
                                        {
                                            if (item.Id == Model.Product_Detail.Volts)
                                            {
                                                <option value="@item.Id" selected="selected">@item.Value</option>
                                            }

                                            else
                                            {
                                                <option value="@item.Id">@item.Value</option>
                                            }
                                        }
                                    </select>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                        <div class="col-md-12">

                            <table id="tblProductDetail" class="table table-hover table-responsive ">
                                <tbody>
                                    <tr>
                                        <th colspan="15">Products</th>
                                        @*<th>Status</th>*@
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        </div>


                    </div>

                    <div class="box-footer clearfix">

                        <div class="pagination pagination-sm no-margin pull-right">

                            <ul></ul>
                        </div>

                        <div id="divSearchGridOverlay" class="overlay">

                            <i class="fa fa-refresh fa-spin"></i>
                        </div>

                    </div>

                            <!-- /.box-body -->
                </div>
                        <!-- /.box -->
            </div>
        </div>

    </section>
</div>

<script>

    $(document).ready(function () {
        $('.iradio-list').iCheck({
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });
    });

</script>
