@model MSPowerWebApp.Models.Job_ApplicationViewModel


@*<script src="~/Scripts/Job_Application/job_application_search_events.js"></script>

<script src="~/Scripts/Job_Application/job_application_search_method.js"></script>*@

@*<script src="~/Scripts/Job_Application/job_application_events.js"></script>

<script src="~/Scripts/Job_Application/job_application_validation.js"></script>*@

<script src="~/Scripts/Job_Application/job_application_details_events.js"></script>

@{
    ViewBag.Title = "Job_Application";
}

<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">

    <!-- Content Header (Page header) -->

    <section class="content-header">

        <h1>
            Job Application

            <small>Create / Update Page</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>CMS</a></li>
            <li class="active">Job_Application</li>
        </ol>
    </section>

    <div class="row">

        <div class="col-xs-12">

            <div class="box">

                <div class="box-body">

                    <div class="row">

                        <div class="col-md-12">

                            <form id="frmJob_Application">

                                <table border="1" style="width:100%">

                                    <tr>

                                        <th style="padding: 5px; text-align: left; width:15%">First Name :  </th>

                                        <td style="padding: 10px; text-align: left; width:85%">

                                            @*<div class="form-group">*@

                                            <label style="color: #333" for="txtFirst_Name">@Model.Job_Application.First_Name</label>

                                            @*</div>*@

                                        </td>

                                    </tr>


                                    <tr>

                                        <th style="padding: 5px; text-align: left; width:15%">Last Name : </th>

                                        <td style="padding: 10px; text-align: left; width:85%">

                                            @*<div class="form-group">*@

                                            <label style="color: #333" for="txtLast_Name"> @Model.Job_Application.Last_Name</label>

                                            @*</div>*@

                                        </td>

                                    </tr>

                                    <tr>

                                        <th style="padding: 5px; text-align: left; width:15%">Email : </th>

                                        <td style="padding: 10px; text-align: left; width:85%">

                                            @*<div class="form-group">*@

                                            <label style="color: #333" for="txtEmail"> @Model.Job_Application.Email</label>

                                            @*</div>*@

                                        </td>

                                    </tr>

                                    <tr>

                                        <th style="padding: 5px; text-align: left; width:15%">Reference : </th>

                                        <td style="padding: 10px; text-align: left; width:85%">

                                            @*<div class="form-group">*@

                                            <label style="color: #333" for="txtReference"> @Model.Job_Application.Reference</label>

                                            @*</div>*@

                                        </td>

                                    </tr>

                                    <tr>

                                        <th style="padding: 5px; text-align: left; width:15%">Additional Information : </th>

                                        <td style="padding: 10px; text-align: left; width:85%">

                                            @*<div class="form-group">*@

                                            <label style="color: #333" for="txtAdditional_Information"> @Model.Job_Application.Additional_Information</label>


                                            @*</div>*@

                                        </td>

                                    </tr>

                                    <tr>

                                        <th style="padding: 5px; text-align: left; width:15%">Created On : </th>

                                        <td style="padding: 10px; text-align: left; width:85%">

                                            @*<div class="form-group">*@

                                            <label style="color: #333" for="txtCreated_On"> @Model.Job_Application.Created_On</label>


                                            @*</div>*@

                                        </td>

                                    </tr>

                                    <tr>

                                        <th style="padding: 5px; text-align: left; width:15%">Download : </th>

                                        <td style="padding: 10px; text-align: left; width:85%">

                                            @if (Model.Job_Application.Is_DOCX_Exists)
                                            {
                                                <div class="form-group">

                                                    <input type="button" id="btnDownloadDOCX" class="btn btn-sm" value="Download DOCX" />

                                                </div>
                                            }

                                        </td>

                                    </tr>

                                    </table>



                                    @*<div class="form-group">

                                        <label style="color: #333" for="txtFirst_Name">First Name : @Model.Job_Application.First_Name</label>

                                    </div>

                                    <div></div>

                                    <div class="form-group">

                                        <label style="color: #333" for="txtLast_Name">Last Name : @Model.Job_Application.Last_Name</label>

                                    </div>

                                    <div></div>


                                    <div class="form-group">

                                        <label style="color: #333" for="txtEmail">Email : @Model.Job_Application.Email</label>

                                    </div>

                                    <div></div>

                                    <div class="form-group">

                                        <label style="color: #333" for="txtReference">Reference : @Model.Job_Application.Reference</label>

                                    </div>

                                    <div></div>

                                    <div class="form-group">

                                        <label style="color: #333" for="txtAdditional_Information">Additional Information : @Model.Job_Application.Additional_Information</label>

                                    </div>

                                    <div></div>

                                    <div class="form-group">

                                        <label style="color: #333" for="txtCreated_On">Created On : @Model.Job_Application.Created_On</label>

                                    </div>

                                    @if (Model.Job_Application.Is_DOCX_Exists)
                                    {
                                        <div class="form-group">

                                            <input type="button" id="btnDownloadDOCX" class="btn btn-sm" value="Download DOCX" />

                                        </div>
                                    }*@



                                    <div class="btn-group">

                                        <input type="hidden" name="Job_Application.Job_Application_Id" id="hdnJob_Application_Id" value="@Model.Job_Application.Job_Application_Id">

                                        @*<input type="hidden" name="Job_Application.Job_Application_Id" id="hdfJob_Application_Id" value="@Model.Job_Application.Job_Application_Id">*@

                                    </div>

                        </form>

                        </div>

                    </div>

                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </div>

    </div>

</div>


