@model MSPowerWebApp.Models.EventViewModel

<style>
    .carousel-control {
        background-image: none !important;
    }

        .carousel-control > .fa {
            font-size: 40px;
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;
            margin-top: -20px;
        }
</style>

<input type="hidden" id="hdfFileCount" value="@Model.File_Name.Count">
<div class="box box-solid">
    <div class="box-header with-border">
        @*<h3 class="box-title">Carousel</h3>*@
    </div><!-- /.box-header -->
    <div class="box-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @{
                    int i = 0;
                    foreach (var item in Model.File_Name)
                    {
                        if (i == 0)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i" class="active"></li>

                        }
                        else
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i" class=""></li>
                        }
                        i++;
                    }
                }

                @*<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>*@
            </ol>
            <div class="carousel-inner">
                @{
                    int j = 0;
                    foreach (var item in Model.File_Name)
                    {
                        if (j == 0)
                        {
                            <div class="item active">
                                <img src="/Content/Events/@Model.Event.Event_Id/@item" alt="@item">
                                <div class="carousel-caption">
                                    @item
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src="/Content/Events/@Model.Event.Event_Id/@item" alt="@item">
                                <div class="carousel-caption">
                                    @item
                                </div>
                            </div>
                        }
                        j++;
                    }
                }

                @*<div class="item active">
                        <img src="http://placehold.it/900x500/39CCCC/ffffff&text=I+Love+Bootstrap" alt="First slide">
                        <div class="carousel-caption">
                            First Slide
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap" alt="Second slide">
                        <div class="carousel-caption">
                            Second Slide
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap" alt="Third slide">
                        <div class="carousel-caption">
                            Third Slide
                        </div>
                    </div>*@
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
    </div><!-- /.box-body -->
</div>