@model MSPowerWebApp.Models.Job_OpeningViewModel

@{
    ViewBag.Title = "JobOpening";
}

@* Job Opening Listing @Session["Language"].ToString();*@



<div class="content">
    <div class="blog-section">
        <div class="container">
            <div class="col-md-12">
                <h2 class="with-line">Job Openings</h2>

                @foreach (var item in Model.Job_Openings)
                {
                    <article class="clearfix">
                        <header class="grid_8 alpha">
                            <div class="head_element"><span class="el_1">@item.Updated_On.Day</span><span class="el_2">@item.Updated_On.ToString("MMM")</span></div>
                            <div class="sub">
                                <div class="readblog">@item.Job_Title</div>
                            </div>

                            <div class="clearfix"></div>
                        </header>
                        <div class="grid_b4">
                            <p>
                                @if (@item.Job_Description.Length > 1000)
                                {
                                    @item.Job_Description.Substring(0, 1000).ToString()
                                }
                                else { 
                                        @Html.Raw(@item.Job_Description)
                                }


                            </p>
                            @if (@item.Language_Id == 1)
                            {
                                <a href="/en/job_opening?Job_Opening_Id=@item.Job_Opening_Id" class="btn btn-1 btn-1c">Read More</a>
                            }
                            else
                            {
                                <a href="/ch/job_opening?Job_Opening_Id=@item.Job_Opening_Id" class="btn btn-1 btn-1c">Read More</a>
                            }

                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</div>
