@model MSPowerWebApp.Models.NewsLetterViewModel

@{
    ViewBag.Title = "Home";
}

@* News Letter @Session["Language"].ToString();*@


<div class="content">
		<div class="blog-section">
			<div class="container">
					<div class="col-md-12">
							<h2 class="with-line">News Letter</h2>

                        <article class="clearfix attach">
                            <header class="grid_8 alpha">
                                <div class="head_element"><span class="el_1">@Model.NewsLetter.Updated_On.Day</span><span class="el_2">@Model.NewsLetter.Updated_On.ToString("MMM")</span></div>
                                <div class="sub">
                                    <div class="readblog">@Model.NewsLetter.NewsLetter_Title</div>
                                </div>
                                <div class="clearfix"></div>
                            </header>

                            <div class="grid_b4" style="width:100%;">

                                <p>
                                    @if (Model.NewsLetter.NewsLetter_Description.Length > 1000)
                                    {
                                        @Model.NewsLetter.NewsLetter_Description.Substring(0, 1000).ToString()
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.NewsLetter.NewsLetter_Description)
                                    }
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </article>
						
					</div>
			</div>
	</div>
</div>