@model MSPowerWebApp.Models.ProductDetailViewModel

@{
    ViewBag.Title = "Home";
}

@*Product Listing. @Session["Language"].ToString();*@
  
<script src="~/Scripts/WebSite/product_listing_events.js"></script>

<div class="content">

    <div class="container">
    
            <!---->
        
        <form id="frmProduct_Listing">
        
                <input type="hidden" id="hdfLanguage" value="@Model.Language">
            
            <div class="products">
            
                    <h2 class="heading text-center">Our Products</h2>
                
                <div class="products-bottom">
                
                    @{
                        
                    int i = 1;
                    
                    foreach (var item in Model.Product_Categories)
                        
                    {
                        
                        if (i % 3 == 0 || i == 1)
                            
                    {
                           
                        @:<div class="row">
        }
                        <div class="col-md-4 products-grid">

                        <a class="example-image-link" href="../Content/Images/Product Categories/@item.Product_Category_Image" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
               
                        <img class="example-image" src="../Content/Images/Product Categories/@item.Product_Category_Image" alt="" />
            
                        </a>

                        <div class="products-info">

                        <a href="#">@item.Product_Category1</a>

                @if (item.Product_Category_Column_Mappings.Count > 0)
                    
                {
                    <select class="product-volts form-group form-control input-sm">

                        @foreach (var itm in item.Product_Category_Column_Mappings)
                    {
                            <option value="@itm.Volts" data-column-ref="@itm.Product_Column_Ref_Id" data-column-mapping-id="@itm.Product_Category_Column_Mapping_Id">@itm.Volts</option>
                    }
                    </select>

                    <button class="btn-product-details btn btn-sm" type="button">Product Details</button>
                }

            </div>
        </div>
                        if (i % 3 == 0 )
                        {
                @:</div>
                        }
                        i++;
                    }
                    }


                    @*<div class="col-md-4 products-grid">
                        <a class="example-image-link" href="../Content/Product Categories/2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="../Content/Product Categories/2.jpg" alt="" /></a>
                        <div class="products-info">
                            <a href="single.html">Phase Control Thyristor - Stud / Flat Base </a>
                            <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                        </div>
                    </div>
                    <div class="col-md-4 products-grid">
                        <a class="example-image-link" href="../ContentOnline/images/product-2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="../ContentOnline/images/product-2.jpg" alt=""/></a>
                        <div class="products-info">
                            <a href="single.html">Phase Control Thyristor - Disc / Hockey Puk </a>
                            @*<p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                        </div>
                    </div>
                    <div class="col-md-4 products-grid">
                        <a class="example-image-link" href="../ContentOnline/images/product-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="../ContentOnline/images/product-3.jpg" alt=""/></a>
                        <div class="products-info">
                            <a href="single.html">Fast Switching Thyristor </a>
                            @*<p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                        </div>
                    </div>
                    <div class="col-md-4 products-grid">
                        <a class="example-image-link" href="../ContentOnline/images/product-4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="../ContentOnline/images/product-4.jpg" alt=""/></a>
                        <div class="products-info">
                            <a href="single.html">Rectifier Diodes - Stud / Flat Base</a>
                            <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                        </div>
                    </div>
                    <div class="col-md-4 products-grid">
                        <a class="example-image-link" href="../ContentOnline/images/product-5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="../ContentOnline/images/product-5.jpg" alt=""/></a>
                        <div class="products-info">
                            <a href="single.html">Phasellus scipiw scipitilifen. </a>
                            <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                        </div>
                    </div>
                    <div class="col-md-4 products-grid">
                        <a class="example-image-link" href="../ContentOnline/images/product-6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="../ContentOnline/images/product-6.jpg" alt=""/></a>
                        <div class="products-info">
                            <a href="single.html">Phasellus scipiw scipitilifen. </a>
                            <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                        </div>
                    </div>*@
                    <div class="clearfix"></div>
                </div>

            </div>
        </form>
    </div>
</div>