@model MSPowerWebApp.Models.ProductDetailViewModel
@{
    ViewBag.Title = "Home";
}

@*Product. @Session["Language"].ToString();*@
  
<script src="~/Scripts/WebSite/product_events.js"></script>

@*<div class="lang-toggles">
    <select style="border:0px; outline:0px;" id="drpMainlang">
        @if (Session["Language"].ToString() == "en")
        {
            <option value="en" selected>English</option>
        }
        else
        {
            <option value="en">English</option>
        }

        @if (Session["Language"].ToString() == "ch")
        {
            <option value="ch" selected>Chinese</option>
        }
        else
        {
            <option value="ch">Chinese</option>
        }
    </select>
</div>*@


<div class="content">
    <div class="container">
        <!---->
        <br>
        <div class="box-body">
            <header class="text-center">
                <h2> @Model.Product_Category.Product_Category</h2>
            </header>
            <br>
            <div class="products">
                <form id="frmProduct">

                    <h4>@Model.Product_Category.Product_Category_Description</h4><br>
                    @*<h3>Applications  Include :</h3>
                    <ul>
                        <li> Battery Chargers</li>
                        <li>Power Supplies</li>
                        <li> Motor Controls </li>
                        <li>Transportation</li>
                        <li>Welding</li>
                        <li>Induction Heating / Melting</li>
                        <li>UPS</li>
                    </ul>*@
                    <br>

                    @foreach (var item in Model.Volts)
                    {
                         
                        <div id="dv_@item.Product_Category_Column_Mapping_Id" class="div-volts">

                    @{Html.RenderPartial("_Product_Volts", item);}

                    @*<h2 style="color:#EE1C25">@Model.Product_Category.Product_Category1</h2>
                    <h4>@Model.Product_Category.Product_Category_Description</h4><br>*@

                    </div>


                }
                </form>
            </div>

        </div>
    </div>
</div>

<br><br>



<script>
    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liProduct").addClass("active");

    });
</script>
