@model MSPowerWebApp.Models.ProductDetailViewModel
@{
    ViewBag.Title = "Home";
}

@*Product. @Session["Language"].ToString();*@
  
<script src="~/Scripts/WebSite/product_events.js"></script>

<div class="content">
    <div class="container">
        <!---->
        <br><br>
        <div class="box-body">
            <header class="text-center">
                <h2> @Model.Product_Category.Product_Category</h2>
            </header>
            <br><br>
            <div class="products">
                <form id="frmProduct">
                    @foreach (var item in Model.Volts)
                    {
                         <h4>@Model.Product_Category.Product_Category_Description</h4><br>
                        <div id="dv_@item.Product_Category_Column_Mapping_Id" class="div-volts">

                    @{Html.RenderPartial("_Product_Volts", item);}

                    @*<h2 style="color:#EE1C25">@Model.Product_Category.Product_Category1</h2>
                    <h4>@Model.Product_Category.Product_Category_Description</h4><br>*@

                    </div>


                }
                </form>
            </div>

        </div>
    </div>
</div>

<br><br>



<script>
    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liProduct").addClass("active");

    });
</script>
