@model MSPowerWebApp.Models.ProductDetailViewModel

@{
    ViewBag.Title = "Home";
}

@*Product Listing. @Session["Language"].ToString();*@
  
<script src="~/Scripts/WebSite/product_listing_events.js"></script>


<div class="lang-toggles">
    <select style="border:0px; outline:0px;" id="drpMainlang">
        @if (Session["Language"].ToString() == "en")
        {
            <option value="en" selected>English</option>
        }
        else
        {
            <option value="en">English</option>
        }

        @if (Session["Language"].ToString() == "ch")
        {
            <option value="ch" selected>Chinese</option>
        }
        else
        {
            <option value="ch">Chinese</option>
        }
    </select>
</div>

<style>
    .prod-li {
        list-style-type: none;
        padding-left: 12px;
        
    }

    .li-include {
        list-style-type: none;
        /*padding-left: 12px;*/
    }

    /*.fa-chevron-right:after {
        content: "\00a0";
    }*/
</style>

<div class="content">



    <div class="container">

        <!---->
        <br><br>

        <form id="frmProduct_Listing">

            <input type="hidden" id="hdfLanguage" value="@Model.Language_Id">

            <input type="hidden" id="hdfProduct_Category_Id" value="@Model.Product_Category.Product_Category_Id">

            @*<input type="hidden" name="Filter.Product_Detail_Id" id="hdnProductDetail_Id" value="@Model.Filter.Product_Detail_Id">

                <input type="hidden" name="Filter.Product_Category_Column_Mapping_Id" id="hdnProductCategoryColumnMapping_Id" value="@Model.Filter.Product_Category_Column_Mapping_Id">*@

            <div class="box-body">

                <header class="text-center">

                    @if (string.IsNullOrEmpty(Model.Product_Category.Product_Category))
                    {
                        <h2> High Power Thyristors & Diodes</h2>
                    }

                    else
                    {
                        <h2>@Html.Raw(Model.Product_Category.Product_Category)</h2>
                    }

                </header>

                

                @if (string.IsNullOrEmpty(Model.Product_Category.Product_Category_Description))
                {

                    <p class="text-left">

                        Discover our broad range of thyristors, diodes, Power Modules and Power Bridge devices. Our broad range of  diodes containing  pellets in voltage range of 200 V to 6000 V. V and a current range of 25A to 7100 A. Thyristors  are available in voltage range of 200 V to 4400 V and a current range of 30A to 5000 A.We offer a wide range of Power Modules in voltage range of 200V to 2200V and a current of 25A up to 710A. Also available wide range of Power Bridges in voltage range of 200V to 2200V and a current of 25A up to 500A


                    </p>
                    <br>
                    <h3 id="subcategory"> High Power Thyristors & Diodes Subcategories</h3>
                }
                else
                {
                    <p class="text-left">

                        @Html.Raw(Model.Product_Category.Product_Category_Description)

                    </p>
                    <br>
                    <h3 id="subcategory"> @Html.Raw(Model.Product_Category.Product_Category + " Subcategories") </h3>
                }

                <br>

                <div id="dvProduct_Listing">

                </div>
                <br>
                
                @if (!string.IsNullOrEmpty(Model.Product_Category.Application_Include))
                {
                    @*<div class="grid_4">

                        <div class="container" id="dvProduct_Listing_Application_Include">*@
                            @(Html.Raw(Model.Product_Category.Application_Include))
                        @*</div>

                    </div>*@

                }

                <div class="">

                    <div class="container" id="dvProduct_Listing_Images">

                    </div>

                </div>

            </div>

        </form>

        <br><br>

    </div>

</div>



<script>

    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liProduct").addClass("active");

    });

</script>