@model MSPowerWebApp.Models.ServiceCategoryViewModel

@{
    ViewBag.Title = "Home";
}

@*Application Listing. @Session["Language"].ToString();*@
  

<div class="content">

    <div class="container">

        <!---->

        <form id="frmService_Listing">

            <input type="hidden" id="hdfLanguage" value="@Model.ServiceCategory.Language_Id">
            <div class="grid_4">
                <div class="container">

                    <h1 class="blog_head">Services</h1>

                    @{

                        int i = 1;

                        foreach (var item in Model.ServiceCategories)
                        {

                            if (i == 1)
                            {
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3>@item.Service_Category</h3>
                                        <p>
                                            @if(item.Service_Category_Description.Length > 200)
                                            { 
                                                @(Html.Raw(item.Service_Category_Description.Substring(0,200) + "..."))
                                            }
                                            else
                                            {
                                                @(Html.Raw(item.Service_Category_Description))
                                            }

                                            @if (item.Language_Id == 1)
                                            {
                                                <a href="/en/service?Service_Category_Id=@item.Service_Category_Id">Click for more...</a>
                                            }
                                            else
                                            {
                                                <a href="/ch/service?Service_Category_Id=@item.Service_Category_Id">Click for more...</a>

                                            }
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="../Content/Images/Service Category/@item.Service_Category_Img" style="width:80%" class="img-responsive" alt="" />
                                    </div>
                                </div>

                                            i = 2;
                            }

                            else
                            {
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="../Content/Images/Service Category/@item.Service_Category_Img" style="width:80%" class="img-responsive" alt="" />
                                    </div>
                                    <div class="col-md-8">
                                        <h3>@item.Service_Category</h3>
                                        <p>
                                          @if (item.Service_Category_Description.Length > 200)
                                        {
                                            @(Html.Raw(item.Service_Category_Description.Substring(0, 200) + "..."))
                                        }
                                        else
                                        {
                                            @(Html.Raw(item.Service_Category_Description))
                                        }

                                            @if (item.Language_Id == 1)
                                            {
                                               <a href="/en/service?Service_Category_Id=@item.Service_Category_Id">Click for more...</a>
                                            }
                                            else
                                            {
                                                <a href="/ch/service?Service_Category_Id=@item.Service_Category_Id">Click for more...</a>

                                            }
                                        </p>
                                    </div>
                                </div>
                                            i = 1;
                            }
                        }
                    }

                    <br>
                    @*<div class="panel panel-default">
                        <div class="panel-body">

                        </div>
                    </div>*@
                </div>



            </div>

        </form>
    </div>
</div>

<script>
    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liApplications").addClass("active");

    });
</script>



