@using MSPowerInfo
<aside class="main-sidebar hidden-print">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>@(((UserInfo)Session["User"]).Name)</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active"><a href="@Url.Action("Index","Language")"><i class="fa fa-dashboard"></i> Language</a></li>
            <li><a href="@Url.Action("Search","Product")"><i class="fa fa-dashboard"></i> Product</a></li>
            <li><a href="@Url.Action("Search","ProductDetail")"><i class="fa fa-dashboard"></i> Product Detail</a></li>
            <li><a href="@Url.Action("Search","Services")"><i class="fa fa-dashboard"></i> Services</a></li>
            <li><a href="@Url.Action("Search","NewsLetter")"><i class="fa fa-dashboard"></i> News Letter</a></li>
            <li><a href="@Url.Action("Search","AboutUs")"><i class="fa fa-dashboard"></i> About Us</a></li>
            <li><a href="@Url.Action("Search","ContactUs")"><i class="fa fa-dashboard"></i> Contact Us</a></li>
            <li><a href="@Url.Action("Search","Event")"><i class="fa fa-dashboard"></i> Event</a></li>
            <li><a href="@Url.Action("Search","Job_Opening")"><i class="fa fa-dashboard"></i> Job_Opening</a></li>
            <li><a href="@Url.Action("Search","Enquiry")"><i class="fa fa-dashboard"></i> Enquiry</a></li>
            <li><a href="@Url.Action("Search","Job_Application")"><i class="fa fa-dashboard"></i> Job Application</a></li>
            <li><a href="@Url.Action("Index","ImageUpload")"><i class="fa fa-dashboard"></i> Upload Images</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>